<section class="container">
  <%= image_tag "vincent-durand.jpg", class: "img-circle", alt: "" %>
  <div class="row">
    <h2>Vincent Durand</h2>
    <div class="col-md-8 col-md-offset-2">
      <h4>Hi, I'm Vincent. I'm a software developer in <strong>Paris, France</strong>. I'm focused on building web application with <strong>Ruby On Rails</strong> framework this last years, and I mainly specialized on <strong>Ruby</strong> technologies, but I enjoy <strong>Angular.js</strong> and <strong>Redis</strong>.</h4>
    </div>
  </div>
</section>
<hr>
<section class="container">
  <div class="row">
    <div class="col-sm-4">
      <a href="https://github.com/madwork" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'github');">
        <i class="fa fa-github fa-6x"></i><br>GitHub
      </a>
    </div>
    <div class="col-sm-4">
      <a href="https://twitter.com/durandv" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'twitter');">
        <i class="fa fa-twitter fa-6x"></i><br>Twitter
      </a>
    </div>
    <div class="col-sm-4">
      <a href="mailto:vincent.durand@madwork.org" onclick="ga('send', 'event', 'link', 'click', 'email');">
        <i class="fa fa-envelope fa-6x"></i><br>Email
      </a>
    </div>
  </div>
</section>
