<div class="container">
  <div class="row">
    <div class="column column-20 column-offset-40">
      <%= image_tag "vincent.webp", class: "img-circle", alt: "vincent" %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="column">
      <h2>Vincent Durand</h2>
      <h5>
        CTO at <a href="https://reedsy.com" target="_blank">Reedsy</a>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <h5>
        Projects on <a href="https://github.com/madwork" target="_blank">Github</a>
      </h5>
    </div>
  </div>
</div>
