<section class="container">
  <%= image_tag "vincent-durand.jpg", class: "img-circle", alt: "" %>
  <div class="row">
    <h2>Vincent Durand</h2>
    <div class="col-md-8 col-md-offset-2">
      <h4>Hi, I'm Vincent. I'm a software developer in <strong>Paris, France</strong>. <br>
        I'm working on web applications with <strong>Ruby On Rails</strong> framework since few years and I'm mainly focused around <strong>Ruby</strong> technologies.</h4>
    </div>
  </div>
</section>
<hr>
<section class="container">
  <div class="row">
    <div class="col-sm-3">
      <a href="https://github.com/madwork" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'github');">
        <i class="fa fa-github fa-6x"></i><br>GitHub
      </a>
    </div>
    <div class="col-sm-3">
      <a href="https://twitter.com/durandv" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'twitter');">
        <i class="fa fa-twitter fa-6x"></i><br>Twitter
      </a>
    </div>
    <div class="col-sm-3">
      <a href="https://keybase.io/madwork" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'keybase');">
        <i class="fa fa-user-secret fa-6x"></i><br>Keybase
      </a>
    </div>
    <div class="col-sm-3">
      <a href="mailto:vincent.durand@madwork.org" onclick="ga('send', 'event', 'link', 'click', 'email');">
        <i class="fa fa-envelope fa-6x"></i><br>Email
      </a>
    </div>
  </div>
</section>
